name: Tests

on:
  push:
    branches:
      - master
  pull_request:


jobs:
  test:
    timeout-minutes: 40
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nim: ['1.6.0', 'stable', 'devel' ]
      fail-fast: false
      max-parallel: 1

    name: Nim ${{ matrix.nim }}
    steps:
    - name: Setup Nim Enviroment
      uses: actions/checkout@master

    - name: Cache choosenim
      id: cache-choosenim
      uses: actions/cache@v1
      with:
        path: ~/.nimble
        key: ${{ runner.os }}-nimble-${{ matrix.nim }}-${{ hashFiles('dimscmd.nimble') }}

    - uses: jiro4989/setup-nim-action@v1
      with:
          nim-version: ${{ matrix.nim }}

    - name: Update nimble
      run: nimble update

    - name: Run Tests
      env:
        DISCORDTOKEN: ${{ secrets.DISCORDTOKEN }}
      run: nimble --deepcopy:on test

    - name: Check doc examples
      run: nimble doc --deepcopy:on --threads:off --project src/dimscmd.nim

  docs:
    needs: test
    if: github.ref == 'refs/heads/master'
    permissions:
      pages: write # To deploy to Pages
      id-token: write # Verify deployment
    runs-on: ubuntu-latest
    name: "Deploy documentation"
    steps:
      - name: Setup Nim Enviroment
        uses: actions/checkout@master

      - name: Cache choosenim
        id: cache-choosenim
        uses: actions/cache@v1
        with:
          path: ~/.nimble
          key: ${{ runner.os }}-nimble-stable-${{ hashFiles('dimscmd.nimble') }}

      - uses: jiro4989/setup-nim-action@v1
        with:
            nim-version: stable

      - name: "Build documentation"
        uses: ire4ever1190/nim-docs-action@v1
        with:
          main-file: "src/dimscmd.nim"
          deploy: "pages"

